<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns:tizen="http://tizen.org/ns/widgets" xmlns="http://www.w3.org/ns/widgets" id="http://yourdomain/OpenHab" version="1.0.0" viewmodes="maximized">
    <tizen:application id="SURk1scxZH.OpenHab" package="SURk1scxZH" required_version="4.0"/>
    <author email="info@attrobit.com">Philipp Lang</author>
    <content src="index.html"/>
    <feature name="http://tizen.org/feature/screen.size.all"/>
    <icon src="icon.png"/>
    <name>OpenHab</name>
    <tizen:profile name="wearable"/>
</widget>
